<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">E-Commerce Application</h1>
            <p class="lead text-body-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ipsa atque explicabo, voluptatem error non aperiam magni debitis deleniti tempora perferendis, facere fuga labore. Officia aspernatur rerum totam modi magni expedita facilis nesciunt dignissimos aut fugiat! Commodi vel ullam beatae.</p>
            <p>
            <a class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a>
            &nbsp; &nbsp;
            <a class="btn btn-secondary my-2" routerLink="/sign-up">Register</a>
            </p>
        </div>

    </div>

</section>
